<!--Home section-->

<div class="home-section">

<!--Menu component-->
<menu-component></menu-component>
<!--Menu component-->


 <div class="default-width-content">
        <div class="row">
            <div class="col-md-6">
        <!--Form slide component (coming soon)-->            
                  <form-box-component></form-box-component>
        <!--End Form slide component (coming soon)-->
            </div>
            <div class="col-md-5 col-md-offset-1">
        <!--LOgin component-->                        
                  <login-component></login-component>
        <!--End LOgin component-->    
            </div>
    </div>
</div>


<!--FooterComponent-->
<footer-component></footer-component>
<!--End FooterComponent-->

<!--Cadastro component-->
<cadastro-Component></cadastro-Component>
<!--End Cadastro component-->

<div>
<!--End Home section-->
