<!--Menu component-->
<menu-component></menu-component>
<!--Menu component-->
    
<!--Home section-->
<div class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
            
                  <!--Forum box Component-->
                  <form-box-component></form-box-component>
                  <!--End Forum box Component-->
                  
                  <!--Login Component-->                  
                  <login-component></login-component>
                  <!--End Login Component-->
                  
                </div>
            </div>
        </div>
    </div>

<!--End Home section-->
