<div class="col-sm-3">
      
      <div class="thumbnail">
        <img src="img/profiles/profile3.png" alt="San Francisco" width="400" height="300">
        <h3>{{profile.firstName}} {{profile.lastName}}</h3>
        <div class="row">
        <div class="col-sm-12">
        <div class="col-sm-6">
            <p class="text-center">{{profile.profile.following}}</p>
            <p class="text-center">Seguidores</p>
        </div>
        <div class="col-sm-6">
        
            <p class="text-center">{{profile.profile.followers}}</p>
            <p class="text-center">Seguidores</p>
        </div>
        </div></div>
        <br/>
        <button class="btn btn-block btn-success">Request</button>
        <button class="btn btn-block btn-primary">Send Message</button>
      </div> 
      
      <div class="thumbnail">
      <h4> Disponibilidade <small><span class="bg-green glyphicon glyphicon-certificate"></span></small></h4>
      </div>
  
    </div>