<div class="row">
   <div class="col-sm-2">
      <div class="thumbnail">       
          <h5>See you profile information state</h5>
           <div class="progress">
           <div class="progress-bar progress-bar-striped active" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
            40%
          </div>
          </div>
          <p class="text-center"><button class="btn btn-primary">Push up</button></p>
      </div>
      <br/>
      <div class="thumbnail">       
          <h5>Top Profiles</h5>
          
          
          <div class="thumbnail">
        <img src="img/profiles/profile1.png" alt="San Francisco" class="img-circle" width="400" height="300">
           <h4>Julio Mariano</h4>
           <p>WebDesign/Design</p>
      </div>
      </div>
    </div>

 </div>
 
 
 
 
   