
  

<!--Header-->
<header>
    <div class="container">  
      <div class="row">
        <h1 class="text-center big-text">This is Golfinho</h1>
        <h5 class="text-center normal-text margin-bottom-20">The aplication tha improve you profission</h5>
        <p class="text-center"><button class="btn btn-golf" [routerLink]="['Cadastro']"><b>Cadastrar-se</b></button></p>
      </div>
    </div>
</header>

<!--section1-->
<div id="section1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
   
      <h2 class="text-center font-subtitle"><b>About</b></h2>
      <p class="text-center">See what we can improve to our costumers</p>
      <br>
      <div class="col-md-4">
        <div class="box-content">
        <img src="img/icones/biology.png" class="img-responsive" alt="">
          
        <h4 class=""><b>Comunidades</b></h4>
        <p>  O aparelho TAC emite um feixe colimadoobjecto a ser estudado. A radiação não absorvida pelo objecto é recolhida pelos detectores. Em seguida, o feixe de transmissor, que tinha uma orientação particular (por exempl.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-content">
        <img src="img/icones/chat.png" class="img-responsive" alt="">
          
        <h4  class=""><b>Grupos</b></h4>
        <p>  O aparelho TAC emite um feixe colimado (Tornar paralelos os raios luminosos de um feixe) de  pelo objecto é recolhida pelos detectores. Em seguida, o feixe de transmissor, que tinha uma orientação particular (por .</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-content">
        <img src="img/icones/laptop.png" class="img-responsive" alt="">
          
        <h4  class=""><b>Projectos</b></h4>
        <p>  O aparelho TAC emite um feixe colimador estudado. A radiação não absorvida pelo objecto é recolhida pelos detectores. Em seguida, o feixe de transmissor, que tinha uma orientação particular (por .</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--section2-->
<div id="section2">
  <div class="container">
    <div class="row">
      
        <div class="col-md-6">
        <div class="bg-green">
            <img src="img/profiles/profiles.png" alt="">
        </div>
        </div>
          <div class="col-md-6 padding-20">
      <h3 class="text-center font-subtitle2 color-white"> See top profiles</h3>
        <p>  O aparelho TAC emite um feixe colimador estudado. A radiação não absorvida pelo objecto é recolhida pelos detectores. Em seguida, o feixe de transmissor, que tinha uma orientação particular (por .</p>
      
        <h4 class="color-white"><i class="glyphicon glyphicon-ok"></i> Top profiles</h4>
        <h4 class="color-white"><i class="glyphicon glyphicon-ok"></i> Melhores Comunidades</h4>
        <h4 class="color-white"><i class="glyphicon glyphicon-ok"></i> Melhores Empresas</h4>
        <h4 class="color-white"><i class="glyphicon glyphicon-ok"></i> Maiores Opurtinidades</h4>
        <br/>
        <p><button class="btn btn-golf" [routerLink]="['List-Profile']"><b>Veja mais</b></button></p>
            
        <div class="bg-green">
        </div>
        </div>

    </div>
  </div>
</div>

<!--section3-->
<div id="section3">
  <div class="container">
    <div class="row">
      <h3 class="text-center font-subtitle"><b>Empresas</b></h3>
      <p class="text-center">Encontre oporntunidades nas melhores empresas do mercado</p>
      <br/>
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company1.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company2.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company3.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company4.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company5.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company1.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company2.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company3.png" alt="">
        </div>
        <div class="col-md-4 col-xs-4">
          <img src="img/empresas/company4.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="section4">
  <div class="container">
    <div class="row">
      <h3 class="text-center font-subtitle"><b>Comunidades</b></h3>
      <br>
      <br>
      <div class="col-md-3 col-xs-6">
        <div class=""><img src="img/comunidades/comunidade1.png" alt=""></div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class=""><img src="img/comunidades/comunidade2.png" alt=""></div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class=""><img src="img/comunidades/comunidade5.png" alt=""></div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class=""><img src="img/comunidades/comunidade6.png" alt=""></div>
      </div>
    </div>
  </div>
</div>

<!--footer component-->
<footer-component>
</footer-component>