 <nav class="nav navbar navbar-default nav-config">
  <div class="container">
    <div class="navbar-header">
    <a  [routerLink]="['Home']" class="navbar-brand margin-top-10">Golfinho</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
    </div>
    
    <ul class="nav navbar-nav nav-hover collapse navbar-collapse">
      <li><a [routerLink]="['List-Profiles']">Profile</a></li>
      <li><a  [routerLink]="['Home']">Empresas</a></li>
      <li><a  [routerLink]="['Home']">Comunidades</a></li>
      <li><a [routerLink]="['Home']">Acerca</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a  [routerLink]="['Login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    
 </div> 
</nav>
