<section>
   <div class="box-form">
     <button class="btn btn-cancel" [routerLink]="['Home']">x</button>

   <h2>Registro <small><i>(Parte 3)</i></small></h2>
    <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="75"
  aria-valuemin="0" aria-valuemax="100" style="width:75%">
    75% do cadastro (so mais um pouco!)
  </div>
</div>
   <hr/>
   <form action="">
 
      <div class="row">
          <div class="col-md-12">
              <label for="">Formacao academica concluida</label>
              <input type="text"/>
           </div>
          
       </div>
    
         <div class="row">
          <div class="col-md-4">
              <label for="">Instituicao</label>
              <input type="text"/>
           </div>
           <div class="col-md-4">
              <label for="">Inicio(Ano)</label>
              <input type="text"/>
           </div>
           <div class="col-md-4">
              <label for="">Fim(Ano)</label>
              <input type="text"/>
           </div>
      
       </div>
    
         <div class="row">
          <div class="col-md-12">
              <label for="" class="color-gray"><a href="#">+ Adicionar formacao academica concluida</a></label>
           </div>
         
           
       </div>
    
         <div class="row">
          <div class="col-md-12">
              <label for="">Formacao academica em  andamento</label>
              <input type="text"/>
           </div>
         
       </div>
       
       
         <div class="row">
          <div class="col-md-8">
              <label for="">Instituicao</label>
              <input type="text"/>
           </div>
            <div class="col-md-4">
              <label for="">Inicio(Ano)</label>
              <input type="text"/>
           </div>
         
       </div>
              <button class="btn btn-simple" [routerLink]="['Cadastro_parte_4']">Proximo</button>
           <button class="btn btn-simple"  [routerLink]="['Cadastro_parte_2']">Voltar</button>
    
    
    </form>
 
   </div> 
</section>