/*Menu component css*/

.img-brand{
    height: 74px;
    width: 74px;
}

nav {
    border-radius: 0px; 
    top: 0;
    position: fixed;
    height: 75px;
    width: 100%;
    background: white;
    border: 0 solid #333;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}


.menu-width{
    width: 1050px !important;
    margin-left: auto;
    margin-right: auto
}

.company-name{
    font-family: Arial, Helvetica;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color:rgb(1, 176, 8);
    margin-left: 10px;
    margin-top:5px; 
}

nav ul li{
    background: red;
    height: auto;
    color: white;
    
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:white;
    height: 75px;
    border: 1px solid #da251f;
    box-shadow: 0 2px 0 #d6251f,0 0 4px #e02a24;
    padding: 5px 15px;
    padding-top:30px; 
    transition: linear 250ms all 0s ;
    
}

nav ul li a:hover{
    color:white;
    box-shadow: 0px 0px 0px;
}
