  <!--login card-->
    <div class="col-md-12">
        <div class="box-card">
            <div class="login-card"> 
            <div class="form-group">
            <h3 class="text-center"><b>Entrar</b></h3>
            <input type="text" class="form-control" placeholder="Exampleemail@gov.co.mz" id="usr">
            </div>
            <div class="form-group">
            <input type="password" class="form-control" placeholder="********" id="pwd">
            
            <br/>
            <a href="#">Esqueceu a senha?</a>
            <br/>
            </div>
            <button class="btn btn-block btn-login">Entrar</button>
            </div>
        </div>
    </div>
   <!--end login card-->