<!--<menu-component></menu-component>-->


<div id="cadastro">
    <div class="cadastro-card"> 
    <h3 class="text-center"><b>Penche os campos abaixo.</b></h3>
    <br/>   
         <div class="form-group">
            <label for="usr">Email:</label>
            <input type="email" class="form-control" id="usr">
            </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label for="pwd">Repeat Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <p class="text-center"><button class="btn btn-cadastro">Avancar</button></p>   

    </div>
</div>