<div class="col-sm-7">
  <div class="row">
  
  <!--About me-->
    <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-user"></span> About me</b></h3>
            <br/>
            <div class="col-sm-6">
              <h4>{{profile.profile.jobTitle}} <small><i>at</i></small> {{profile.profile.componyName}}</h4>
              <h4>Skills: <span class="label label-primary" *ngFor="#skill of profile.profile.skills">{{skill}}</span><br/>
               <h4>OverView: <small>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....<a href="#">see more</a></small></h4>
              
              </h4>
            </div>
            <div class="col-sm-6">
                {{profile.email}}
            <br/>
            <h4>State: <small>{{profile.profile.civilStatus}}</small></h4>
            <h4>Age: <small>{{profile.profile.age}}</small></h4>
            <h4>Gener: <small>{{profile.profile.gender}}</small></h4>
            <h4>Cyte: <small>{{profile.location}}-Mozambique</small></h4>
            <h4>Phone Number: <small>{{profile.profile.phoneNumber}}</small></h4>
            <h4>Email: <small>{{profile.email}}</small></h4>
            </div>            

         </div>
        </div>
    </div>
    
  <!--Certification-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-list-alt"></span> Certification</b></h3>
            <br/>
          <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Description</th>
        <th>year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="#certificate of profile.profile.certification">
        <td>{{certificate.certificationName}}</td>
        <td>{{certificate.certificationOrg}}</td>
        <td>{{certificate.description}}</td>
        <td>{{certificate.year}}</td>
      </tr>
    </tbody>
    
  </table>
          </div>
        </div>
    </div>
    
    <!--Education-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-education"></span> Education</b></h3>
            <br/>
            <div *ngFor="#educ of profile.profile.education">
            <h4>{{educ.degree}} <i>({{educ.startYear}}-{{educ.endYear}})</i> <small>at </small> {{educ.country}}</h4>
            <hr>
            </div>
            </div>
        </div>
    </div>
    
       
    <!--Experience-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-cog"></span>Experience</b></h3>
            <br/>
             <div class="" *ngFor="#expe of profile.profile.experience">
             <h4>Job Title:<small> {{expe.jobTitle}}</small></h4>
             <h4>Company Name:<small> {{expe.componyName}}</small></h4>
             <h4>Year:<small> {{expe.startYear}}</small></h4>
             <h4>OverView<small> {{expe.summary}}</small></h4>
             <hr/>
             </div>
         </div>
        </div>
    </div>
    
    <!--projects-->
     <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-folder-open"></span> Projectos</b></h3>
              <div class="col-sm-3">
              <div class="thumbnail">
                 <img src="img/projetos/projeto.png" alt="San Francisco" width="400" height="300">
              </div>
              </div>
              
              <div class="col-sm-9">
                <h4>Mova</h4>
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to me</p>
                <button class="btn btn-golf">See Website</button>
              </div>              
            </div>
          </div>
        </div>
       </div>
  </div>
  
  
  
  
  
  
  
  
 
      