<div class="col-sm-7">
  <div class="row">
  
  <!--About me-->
    <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-user"></span> About me</b></h3>
            <br/>
            <div class="col-sm-6">
              <h4>CEO && eginier <small><i>at</i></small> GOOGLE</h4>
              <h4>Skills: <span class="label label-primary">WebDesigner</span>
              <span class="label label-primary margin-5">Designer</span>
              <span class="label label-primary margin-5">Graphic Designer</span>
               <h4>OverView: <small>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....<a href="#">see more</a></small></h4>
              
              </h4>
            </div>
            <div class="col-sm-6">

            <br/>
            <h4>State: <small>Single</small></h4>
            <h4>Age: <small>19</small></h4>
            <h4>Cyte: <small>Maputo-Mozambique</small></h4>
            <h4>Phone Number: <small>828711644</small></h4>
            <h4>Email: <small>devgirl@gmail.com</small></h4>
            </div>            

         </div>
        </div>
    </div>
    
  <!--Certification-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-list-alt"></span> Certification</b></h3>
            <br/>
          <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Organization</th>
        <th>Description</th>
        <th>year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Web developer</td>
        <td>Plural S.</td>
        <td>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....</td>
        <td>2016</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Arch. Information</td>
        <td>Plural S.</td>
        <td>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....</td>
        <td>2015</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Graphic Designer</td>
        <td>Code</td>
        <td>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....</td>
        <td>2013</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>CCNA</td>
        <td>TUTS</td>
        <td>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember....</td>
        <td>2013</td>
      </tr>
    </tbody>
  </table>
          </div>
        </div>
    </div>
    
    <!--Education-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-education"></span> Education</b></h3>
            <br/>
            <h4>Computer Cience <i>(2015-2016)</i> <small>at </small> Maputo-Mozambique</h4>
            <hr>
            <h4>Engenier  <i>(2013-2016)</i> <small>at </small>Pretoria-South-Africa</h4>
            
            </div>
        </div>
    </div>
    
    <!--Experience-->    
        <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-cog"></span>Experience</b></h3>
            <br/>
            <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
         </div>
        </div>
    </div>
    
    <!--projects-->
     <div class="col-sm-12">
        <div class="panel panel-default text-left">
          <div class="panel-body  box-card">
            <h3 class="color-subtitle"><b><span class="glyphicon glyphicon-folder-open"></span> Projectos</b></h3>
              <div class="col-sm-3">
              <div class="thumbnail">
                 <img src="img/projetos/projeto.png" alt="San Francisco" width="400" height="300">
              </div>
              </div>
              
              <div class="col-sm-9">
                <h4>Mova</h4>
                <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.Just Forgot that I had to me</p>
                <button class="btn btn-golf">See Website</button>
              </div>              
            </div>
          </div>
        </div>
       </div>
  </div>
  
  
  
  
  
  
  
  
 
      