<div class="col-md-12">
    <div class="box-card">
    <div class="content">
    <h4><b>Vantagens para o investigador</b></h4>
    <hr>
    <h4>1. Encontre Financiamento</h4>
    <p>Bootstrap supports all the HTML5 input types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
    </p>
    <h4>2. Encontre Financiamento</h4>
    <p>Bootstrap supports all the HTML5 input types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
    </p>
    <h4>3. Encontre Financiamento</h4>
    <p>Bootstrap supports all the HTML5 input types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
    </p>
    <h4>4. Encontre Financiamento</h4>
    <p>Bootstrap supports all the HTML5 input types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.
    </p>
    
    </div>
</div>
</div>